@import url("styles/topo.css");
@import url("styles/procura.css");
@import url("styles/atendimento.css");
@import url("styles/entregas.css");
@import url("styles/local.css");
@import url("styles/rodape.css");
@import url("styles/chat.css");

:root {
  --c1: #f89c1c;
  --cor-de-fundo: #ebecee;
  --branco: #f3f3f3;
  --laranja: #eb891b;
  --laranja-escuro: #c77619;
  --azul: #536580;
  --azul-escuro: #0f172a;
  --fonte-titulo: "Belanosima", sans-serif;
  --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--branco);
  font-family: var(--fonte-padrao);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.cor__back {
  text-align: center;
  margin: 1.8em 2em;
  background-color: rgb(238, 238, 238);
}
