.contato{
 text-align: center;
 margin: 1.8em 2em;    
}


.contato__titulo{
    font-family: var(--fonte-titulo);
    color: var(--azul);
    font-size: 20px;
    font-weight: 300;
    padding-top:1em ;
}

.contato__texto{
    font-family: var(--fonte-padrao);
    margin-top: 1em;
        font-weight: 400;   
    text-align: center;
    
}


.contato__phone{
   
    font-family: var(--fonte-titulo);
    color: var(--branco);
    background-color: var(--laranja);
    margin: 2em 5em;
    padding: 0.5em;
    border-radius: 16px;
}

.contato__ancora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
}


.contato__ancora:hover{
    opacity: 0.8;
    transition: 0.3s;
}   

.contato__phone:hover{
    scale: 1.05;
    opacity: 0.8;
    transition: 0.3s;
    
}




@media screen and (min-width: 1024px){

.contato{
 text-align: center;
 margin: 1.8em 9em;
}

.contato__titulo{
    font-size: 36px;
}

.contato__texto{
    font-size: 18px;
}

.contato__phone{

    margin: 2em 5em;
    padding: 1.2em;
    border-radius: 16px;
    font-size: 18px;
}

.contato__ancora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

}