.entregas{
 text-align: center;
 margin: 1.9em 2em;    
}


.entregas__titulo{
    font-family: var(--fonte-titulo);
    color: var(--azul);
    font-size: 20px;
    font-weight: 300;
    padding-top:1em ;
}

.entregas__texto{
    font-family: var(--fonte-padrao);
     font-weight: 400;
    text-align: center;
}



.entregas{
 text-align: center;
 margin: 1.9em 2em;    
}


.entregas__titulo{
    font-family: var(--fonte-titulo);
    color: var(--azul);
    font-size: 20px;
    font-weight: 300;
    padding-top:1em ;
}

.entregas__texto{
    font-family: var(--fonte-padrao);
     font-weight: 400;
    text-align: center;
}


@media screen and (min-width: 1024px){

.entregas{
 text-align: center;
 margin: 1.9em 9em;    
}

.entregas__titulo{
    font-size: 60px;
}

.entregas__texto{
    font-size: 30px;
}

}