.rodape {
   background-color: #0F172A;
    color: white;
    padding: 20px;
    margin-top: 2em;

    display: flex;
    flex-direction: column; /* mobile first */
    align-items: flex-start  /* logo para direita */
    
}


.rodape__logo{
 width: 150px;
}
 
.rodape-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}


.rodape-box {
  flex: 1 1 250px;
  max-width: 300px;
}

.rodape-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--c2);
}

.rodape-box__texto{
    font-size: 13px;
    line-height: 1.5;
    color: var(--branco);
}


.redes-sociais img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.redes-sociais img:hover {
  transform: scale(1.2);
}

.rodape__dev{
    display: flex;
    align-items: center;
 
}



.rodape__dev__ancora{
    color: var(--branco);
    text-decoration: none;
    margin-left: 5px;
}

@media screen and (min-width: 1024px){

.rodape {
    padding: 40px;
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape__logo{
     width: 400px;
    margin-bottom: 30px;
}

.rodape-container{
    padding: 40px;
    gap: 40px;
}

.rodape-box h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.rodape-box__texto{
    font-size: 16px;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
}

.rodape__dev__ancora{
    margin-left: 10px;
}

}