.logo{
    display: block;
    margin: 20px auto;
}

.logo__big{
  display: none;
}

/* Carrossel */
.carousel {
  width: 100%;
  max-width: 1400px;   /* limite máximo */
  height: auto;
  aspect-ratio: 14/3;  /* proporção real das imagens */
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* cobre toda a área */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

/* Botões de navegação */
.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.carousel button:hover {
  background: rgba(0,0,0,0.8);
}

.carousel .prev {
  left: 15px;
}
.carousel .next {
  right: 15px;
}

/* Bolinhas */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  background:var(--laranja);
  border: 0;
  cursor: pointer;
  transition: background 0.3s;
}

.dots span.active {
  background: var(--c1);
}


.caixa{
 text-align: center;
 margin: 1.8em 2em;    
}


.caixa__titulo{
    font-family: var(--fonte-titulo);
    color: var(--azul);
    font-size: 20px;
    
}

.caixa__texto{
    font-family: var(--fonte-padrao);
    font-size: 16px;
     font-weight: 400;
    margin-top: 0.5em;
}


@media screen and (min-width: 1024px){
  .logo {
    display: none;
  }
  .logo__big {
    display: block;
    margin: 20px auto;
    width: 60%;
  }


  .carousel {
    width: 85%; /* reduz um pouco nas laterais pra ficar mais estético */
    max-width: 1200px; /* limite seguro */
    border-radius: 28px;
  }

  .carousel__img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .caixa{
    text-align: center;
    margin: 1.8em 9em;    
  }

  .caixa__titulo{
    font-size: 36px;
  }

  .caixa__texto{
    font-size: 18px;
  }

  .caixa__imagem{
    width: 30%;
  }
}

@media screen and (min-width: 1728px){
 
}